@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 4rem;
    color: rgb(26, 100, 179);
}

button {
   width: 100%;
   height: 100%;
   color: white;
   border-radius: 8px;
   font-size: 1rem;
   border:none;
}

.top-panel button {
   background-color: rgb(53, 52, 52);
}

.buttons {
    display: flex;
    flex-direction: column;
}

.lower-panel {
    border: black solid 2px;
    display: flex;
}

.top-panel > ul {
    display: flex;
    justify-content: flex-end;
}

input {
    width: 100%;
    height: 3.5rem;
    text-align: right;
    padding-top: 1.4rem;
    padding-right: .2rem;
    font-size: 1rem;
    border-radius: 8px;
}

.left-panel ul{
    display: flex;
}

li {
    list-style: none;
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
}

.right-panel ul {
    display: flex;
    flex-direction: column;
}

.right-panel button {
    background-color: grey;
}
.left-panel button {
    background-color: black;
}

.left-panel button:hover {
    background-color: rgb(23, 21, 21);
}

.container {
    margin-top: 1rem;
    padding: 1rem;
    background-color:rgb(46, 44, 44);
    width: fit-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

html {
    background-color: rgba(221, 219, 219, 0.773);
}

body {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 228);
}

.selected {
    border: 2.5px solid red;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.right-panel button:hover {
    box-shadow: 5 12px 16px 5 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: red;
  }

#clear {
    background-color: rgb(26, 100, 179);
}

#equals {
    background-color: rgb(26, 100, 179);
}

#unicode {
    font-size: 2rem;
}