* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 42px;
    color: blueviolet;
}

button {
   width: 100%;
   height: 100%;
}

.top-panel button {
    
   background-color: darkgrey;
}

.buttons {
    display: flex;
    flex-direction: column;
    
}

.lower-panel {
    border: black solid 2px;
    display: flex;
}

.top-panel > ul {
    display: flex;
    justify-content: flex-end;
}

input {
    width: 100%;
    height: 3.5rem;
    text-align: right;
    padding-top: 1.4rem;
    padding-right: .2rem;
    font-size: 1rem;
}

.left-panel ul{
    display: flex;
}

li {
    list-style: none;
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
}

.right-panel ul {
    display: flex;
    flex-direction: column;
}

.right-panel button {
    background-color: darkgrey;
}
.left-panel button {
    background-color: rgb(201, 187, 179);
}

.container {
    margin-top: 1rem;
    padding: 1rem;
    background-color:cadetblue;
    width: fit-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.773);
}

.selected {
    border: 2px solid orangered;
    border-radius: 8px;
    box-shadow: 2px 2px 3px orangered;
    /* padding: 5px; */
}